<h1>🌱 Mental Health Companion</h1>

<div class="chat-box">
  <p><strong>You:</strong> <%= params[:message] %></p>
  <p><strong>Companion:</strong> <%= @bot_reply %></p>
</div>

<a href="/">Would you like to talk about other things on your mind?</a>
